

/* 
h2{
    font-size: 30px ;
    font-weight: bold;
}

.labels{
    display: flex;
    flex-direction: column;
    width: 13%;
    font-size:19px;
    font-weight: bold;
}

#taskname{
    margin:10px 0;
}

#priority{
    margin:10px 0;
}

#deadline{
    margin:10px 0;
}
button{
    margin:10px 0;
    width: 6%;
    font-weight: bold;
}


 */
